/*ボタン達*/
.top-header {
  display: flex;
  justify-content: space-between;
}

/*保存ボタン、戻るボタン*/
.save-back-button {
  display: flex;
  justify-content: flex-end;
}

/*追加ボタン、削除ボタン*/
.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  margin: 10px;
}
.btn-stitch:hover {
  border: dotted 1px #FFF;
}

/*全体*/
.table {
  width: 100vw;
  display: flex;
}

/*時間部分*/
.left-Table {
  width: 100px;
}
.left-TableBody {
  width: 100%;
}
.left-TableTop {
  background-color: coral;
  text-align: center;
  color: #FFF;
  width: 100%;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}
.left-TableRow {
  text-align: center;
  font-family: 'Skia-Regular_Black','Arial Black','Segoe UI Black','Arial Rounded MT Bold','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 2.5rem;
  padding-top: 2rem;
  color: #FFF;
  background-color: darkslategray;
  width: 100%;
  height: 150px;
  margin: 10px;
  padding-top: 6rem;
  border-radius: 10px;
}

/*スタッフレーン部分*/
.right-Table{
  width: 150px;
  margin-left: 10px;
}
.right-TableBody {
  width: 100%;
}
.right-TableTop {
  background-color: lightpink;
  width: 100%;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}
.right-TableRow {
  background-color: lightgray;
  width: 100%;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}

.staffname {
  background-color: lightpink;
  width: 90%;
  height: 30px;
  margin-left: 5px;
  margin-top: 10px;
  border: none;
}
