*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.top-page-header {
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color:#eae83a;
}

.nav {
  font-size: 18px;
  width: 100%;
  padding: 1vh 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 30px;
}

.lists {
  list-style: none;
  display: flex;
}

.user-name {
  text-decoration: none;
  color: #fcf8f8;
  font-weight: bold;
  margin-right: 30px;
}

.logout {
  text-decoration: none;
  color: #fcf8f8;
}

.login {
  text-decoration: none;
  color: #fcf8f8;
  margin-right: 30px;
}

.sign-up {
  text-decoration: none;
  color: #fcf8f8;
}