<%= render "shared/header" %>

<input id="day" type="text " placeholder="日付を入力する"/>

<button class="btn-stitch" id="add-btn">追加</button>
<button class="btn-stitch" id="del-btn">削除</button>


<div class="table">

<div class="left-Table" style="width: 5%; border: 1px solid #000;">
  <div class="left-TableBody">
    <div class="left-TableRow">
      <div class="left-TableCell"></div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">10:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">11:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">12:00</div>
    </div>
    <div class="left-TableRow">
		  <div class="left-TableCell">13:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">14:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">15:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">16:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">17:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">18:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">19:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">20:00</div>
    </div>
  </div>
</div>

<div class="right-Table">
  <div class="right-TableBody">
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
		<div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
  </div>
</div>

</div>