<%= render "shared/header" %>

<%#上部ボタン%>
<div class="top-header">
<div class="add-del-btn">
<input id="day" type="text " placeholder="日付を入力する"/>
<button class="btn-stitch" id="add-btn">追加</button>
<button class="btn-stitch" id="del-btn">削除</button>
</div>

<div class="save-back-button">
<%= button_to "保存",  reservations_path, class:"btn-stitch", id:"save-btn" %>
<%= link_to "TOPページに戻る", root_path, class:"btn-stitch", id:"back-btn" %>
</div>
</div>
<%#上部ボタン%>

<div class="table">

<%#時間部分%>
<div class="left-Table" style="width: 5%; border: 1px solid #000;">
  <div class="left-TableBody">
    <div class="left-TableTop">
      <div class="left-TableCellTop"></div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">10:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">11:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">12:00</div>
    </div>
    <div class="left-TableRow">
		  <div class="left-TableCell">13:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">14:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">15:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">16:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">17:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">18:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">19:00</div>
    </div>
    <div class="left-TableRow">
      <div class="left-TableCell">20:00</div>
    </div>
  </div>
</div>
<%#時間部分%>

<%#レーン部分%>
<div class="right-Table">
  <div class="right-TableBody">
    <div class="right-TableTop">
      <div class="right-TableCellTop">&nbsp;</div>
    </div>
    <% 44.times do |lane| %>
    <div class="right-TableRow">
      <div class="right-TableCell">&nbsp;</div>
    </div>
    <% end %>
  </div>
<div>
<%#レーン部分%>

</div>